spring:
  application:
    name: currencyconverter

  datasource:
    url: jdbc:postgresql://localhost:5432/currency_converter
    username: postgres
    password: Adi143fkr
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
